main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.teal {
  background-color: #006666;
}
.yellow {
  background-color: #ffff66;
}
.lavendar {
  background-color: #9999ff;
}
.indigo {
  background-color: #330099
}
.slate-blue {
  background-color: #003366;
}
